.body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.globalSearch{
    width:25%;
    float:right;
    font-weight: bold;
}
.search{
    font-weight: bold;
}
.entry-data{
    width:5%;
    float:left;
    font-weight: bold;
}
.logout{
    float: right;
}
.title{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
}


.tableData{
    width:100%;
}
.pages{
    height: 10vh;

}